@page "/Forgot-password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password page";
}

<div class="d-flex flex-column justify-content-center align-items-center">

    <h1 class="display-8 mb-5 mt-2"> Change password </h1>

    @{
        var alertColorClass = Model.ViewModel.AlertSuccess ? "success" : "danger";
    }

    @if (!string.IsNullOrEmpty(Model.ViewModel.ForgotPasswordAlertMessage) || Model.ViewModel.Errors.Length > 0)
    {
        <div class="alert alert-@alertColorClass alert-dismissible fade show mb-1" role="alert">
            <strong> @Model.ViewModel.ForgotPasswordAlertMessage </strong>

            @if (Model.ViewModel.Errors.Length > 0)
            {
                <ul>
                    @foreach (var error in Model.ViewModel.Errors)
                    {
                        <li> @error.Description </li>
                    }
                </ul>
            }

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (Model.Token == null)
    {
        <h4> Enter email </h4>
        <form method="POST" asp-page-handler="SendResetLink">

            <div class="mb-2 form-group">
                <div class="form-floating">
                    <input asp-for="EmailOrUsername" id="email" type="email" placeholder="Email"
                        class="form-control form-control-md" />
                    <label for="email"> Email </label>
                </div>
            </div>

            <button type="submit" class="col-12 mt-2 btn btn-primary"> Send Reset Link </button>
        </form>
    }
    else
    {
        <form method="POST" asp-page-handler="ChangePassword">

            <input type="text" value="@Model.Token" name="token" hidden />
            <input type="text" value="@Model.EmailOrUsername" name="emailOrUsername" hidden />

            <div class="mb-2 form-group">
                <div class="form-floating">
                    <input asp-for="ViewModel.Password" id="password" type="password" placeholder="Password"
                        class="form-control form-control-md" />
                    <label for="password"> Password </label>
                </div>
                <span asp-validation-for="ViewModel.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="form-floating">
                    <input asp-for="ViewModel.Repeat_Password" id="repeat_password" type="password"
                        placeholder="Repeat password" class="form-control form-control-md" />
                    <label for="repeat_password"> Repeat password </label>
                </div>
                <span asp-validation-for="ViewModel.Repeat_Password" class="text-danger"></span>
            </div>

            <button type="submit" class="col-12 mt-2 btn btn-success"> Change Password </button>
        </form>
    }
</div>
